@import "bootstrap/bootstrap";
 
@mixin headers {
	margin: auto;
	width: 230px;
	height: 70px;
	overflow: hidden;
	margin-bottom: 70px;
	h1{
	text-align: center;
	font-weight: 800;
	font-size: 28px;
	color: #0eb493;
	line-height: 45px;
	}
	span {
	background: url('../../images/sprite.png') no-repeat -129px -20px;
	width: 18px;
	height: 14px;
	margin: auto;
	display: block;
	position: relative;
	
	}
	span:before {
		content: "";
		width: 92px;
		height: 1px;
		background: #e6e8ea;
		margin-bottom: 5px;
		position: absolute;
		top: 5px;
		right: 34px;		
	}
	span:after {
		content: "";
		width: 94px;
		height: 1px;
		background: #e6e8ea;
		margin-left: 30px;
		top: 5px;
		margin-bottom: 5px;
		display: block;
		position: absolute;
		left: 7px;
	}
}















body{
	color: $white;
}

/*HEADER-NAV*/

.header-wrapper{
	width: 100%;
	position: absolute;
}
.navigator-bg {
	background: rgba(16, 22, 54, 0.2);
	position: relative;
}

.bg-light {
	background-color: transparent !important;
}
.navbar-brand {
	font: 28px 'Pacifico', cursive;
	span {
		border-left: 1px solid #154458;
		font: 14px 'Open Sans', sans-serif;
		padding-left: 21px;
		margin-left: 28px;
		color: $gray-500;
	}
}
.navbar-nav .nav-link:focus{
	border-top: 1px solid #00b2f1;	
}

.carousel-item .img-cover {
	object-fit: cover;
    height: 100%;
}

.carousel-caption {
	h5 {
		font-size: 62px;
		font-weight: 300;
	}
	b {
		font-weight: 400;
	}
	p {
		font-weight: 300;
		font-size: 48px;
	}
	strong {
		color: #0fda93;
	}
	h6:before {
		content: "";
		width: 30px;
		height: 1px;
		background: #0fda93;
		margin-bottom: 5px;
		margin-right: 30px;
		display: inline-block;
		
	}
	h6:after {
		content: "";
		width: 30px;
		height: 1px;
		background: #0fda93;
		margin-left: 30px;
		top: 13px;
		margin-bottom: 5px;
		display: inline-block;
	}
	h6 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		font-weight: 300;
		width: 100%;
		text-align: center;
		
	}
}

@media (max-width: 500px) {
	.carousel-caption h5
	 {
		font-size: 40px;
	}
	.carousel-caption p {
		font-size: 35px;
	}
	.carousel-caption {
		bottom: 20%;
	}
	}
.icon-header {
	margin-top: 100px;
	a {
	display: inline-block;
	}
	.twitter {
 	background: url('../../images/sprite.png') no-repeat -187px -65px;
	width: 18px;
	height: 16px;
	text-align: center;
	margin: auto;
	margin-right: 10px;
	}	
	.fb {
	background: url('../../images/sprite.png') no-repeat -123px -63px;
	width: 10px;
	height: 18px;
	margin: auto;	
	margin-right: 10px;
	}
	.google {
	background: url('../../images/sprite.png') no-repeat -68px -16px;
	width: 18px;
	height: 18px;
	margin: auto;
	margin-right: 10px;
	}
	.be {
	background: url('../../images/sprite.png') no-repeat -147px -63px;
	width: 18px;
	height: 18px;
	margin: auto;
	margin-right: 10px;
	}
	.twitter:hover,
	.fb:hover,
	.google:hover,
	.be:hover {
	opacity: 0.4;
	}
}
.carousel-item{
	position: static;
}

/*FEATURES*/

.features-wrapper {
	width: 100%;
	background:#f4f7f9;
	padding-bottom: 100px;
	color: black;
	padding-top: 75px;
	margin-bottom: 70px;
}
.features-header {
	margin: auto;
	width: 230px;
	height: 70px;
	overflow: hidden;
	margin-bottom: 70px;
	h1{
	text-align: center;
	font-weight: 800;
	font-size: 28px;
	color: #0eb493;
	line-height: 45px;
	}
	span {
	background: url('../../images/sprite.png') no-repeat -129px -20px;
	width: 18px;
	height: 14px;
	margin: auto;
	display: block;
	position: relative;
	}
	span:before {
		content: "";
		width: 92px;
		height: 1px;
		background: #e6e8ea;
		margin-bottom: 5px;
		position: absolute;
		top: 5px;
		right: 34px;		
	}
	span:after {
		content: "";
		width: 94px;
		height: 1px;
		background: #e6e8ea;
		margin-left: 30px;
		top: 5px;
		margin-bottom: 5px;
		display: block;
		position: absolute;
		left: 7px;
	}
}
.features-section {
}
.title {
	position: relative;
	display: block;
	font-size: 20px;
	font-weight: 700;
	&.branding:before {
		content: '';
		background: url('../../images/features-branding.png') no-repeat;
		width: 42px;
		height: 44px;
		left: -57px;
		position: absolute;
	}
	&.development:before {
		content: '';
		background: url('../../images/features-development.png') no-repeat;
		width: 44px;
		height: 40px;
		left: -57px;
		position: absolute;
	}
	&.consulting:before {
		content: '';
		background: url('../../images/features-consalting.png') no-repeat;
		width: 44px;
		height: 40px;
		left: -57px;
		position: absolute;
	}
}
.features-col {
	padding-left: 70px;
	p{
		font-size: 13px;
	}
	strong {
		margin-bottom: 22px;
	}
}

/*WORKS*/

.works-wrapper {
	width: 100%;
	margin-bottom: 100px;
	
}
.works-header {
	@include headers;
	margin-bottom: 15px;
}
.works-head {
	justify-content: center;
	text-align:center;
	font-size: 18px;
	font-weight: 700;
	color: #384d5c;
}
.works-nav 
	li a {
	color: #062033;
	font-size: 14px;
	font-weight: 800;
	color: #062033;
	margin-bottom: 35px;
}
.works-nav li a:active {
	color: #fff;
	background: #0eb493;
	border-radius: 10px
}
.nav-pills .nav-link.active {
	background: #0eb493;
	border-radius: 10px;
}


.portfolio {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;	
}

.flex-list {
	width: 100%;
}
.flex-hover ul {
	display: flex;
	
	justify-content: space-between;
	flex-flow: row nowrap;
}
.flex-hover {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}
.flex-hover li {
	
	position: relative;
	display: inline-block;
	
	
}
.flex-hover li img {
	display: inline-block;
	background-size: cover;
	
}
.flex-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(38, 187, 158, 1);
	text-align: center;
	padding-top: 80px;
	opacity: 0;
	transition: all .5s;
}
.flex-hover li:hover .flex-text{
	opacity: 1;
}
.flex-text h5 {
	background: url('../../images/sprite.png') no-repeat -6px -47px;
	width: 40px;
	height: 40px;
	
	margin: auto;
	padding-bottom: 60px;
}
.flex-text p {
	color: #ffffff;
}
.team-header {
@include headers;
width: 100%;
margin-bottom: 0;
}

.flex-card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	strong {
		color: #062033;
		font-size: 18px;
		font-weight: 800;
	}
	p{
		color: #98a3ab;
		font-size: 13px;
	}
}

 
.flex-card-hover {
	position: absolute;
	background: rgba(38, 187, 158, 1);
	height: 79%;
	opacity:0;
	transition: all .5s;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
}
.flex-card-hover:hover {
	opacity: 0.9;
	h5 {
		font-size: 16px;
		font-weight: 600;
	}
	p{
		font-size: 16px;
		font-weight: 300;
		color: #fff;
	}
}
.card {
	margin-bottom: 10px;
}
@media (max-width: 1170px) { 
	.flex-card {
		max-width: 600px;
		margin: auto;
	}
}
.card-icon {
	
	position: absolute;
	a{
		padding: 10px;
	}
	
	.twitter {
	background: url('../../images/sprite.png') no-repeat -279px -17px;
	width: 20px;
	height: 18px;
	position: absolute;  
	 top: 85px;
    right: 40px;
	}
	.fb {
	background: url('../../images/sprite.png') no-repeat -309px -15px;
	width: 20px;
	height: 18px;
	position: absolute;
	top: 85px;

	}
	.google {
	background: url('../../images/sprite.png') no-repeat -68px -16px;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 85px;
    left: 46px;
	}
}
.card-icon:hover {
	opacity:1;
}


/*Some fun facts*/

.facts-wrapper {
	background: url('../../images/bg-some.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 160px;
}
@media (max-width: 700px) { 
	.icon-facts {
		max-width: 400px;
		margin: auto;

	}
	.delivered,
	.awards {
		margin-top: 70px;
		
	}
	.time,
	.clients,
	.delivered,
	.awards {
		font-size: 40px;
}
}

.facts-header {
	@include headers;
	width: 100%;
	span{
	background: url('../../images/sprite.png') no-repeat -281px -53px;
	width: 18px;
	height: 14px;
	margin-top: 10px;
	}
}
.icon-facts {
	display: flex;
	justify-content: space-around;	
	flex-wrap: wrap;
}
.time {
	width: 147px;
	height: 247px;
	text-align: center;

	.time-work {
	width: 130px;
	height: 130px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 100%;
	display: block;
	position: relative;
	margin: auto;
	margin-bottom: 50px;
	}
	.icon-time {
	background: url('../../images/sprite.png') no-repeat -165px -110px;
	width: 38px;
	height: 38px;
	position: absolute;
	left: 45px;
    top: 46px;
	}
	h3{
		font-size: 60px;
		font-weight: 600;
	}
	p{
		font-size: 18px;
	}
}

.clients {
	width: 147px;
	height: 247px;
	text-align: center;
	.satisfied-clients {
	width: 130px;
	height: 130px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 100%;
	display: block;
	position: relative;
	margin: auto;
	margin-bottom: 50px;
	}
	.icon-clients{
	background: url('../../images/sprite.png') no-repeat -12px -109px;
	width: 38px;
	height: 38px;
	position: absolute;
	left: 45px;
    top: 46px;
	}
	h3{
		font-size: 60px;
		font-weight: 600;
	}
	p{
		font-size: 18px;
	}
}

.delivered {
	width: 150px;
	height: 247px;
	text-align: center;
	
	.projects-delivered {
	width: 130px;
	height: 130px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 100%;
	display: block;
	position: relative;
	margin: auto;
	margin-bottom: 50px;
	}
	.icon-delivered {
	background: url('../../images/sprite.png') no-repeat -63px -112px;
	width: 33px;
	height: 33px;
	position: absolute;
	left: 45px;
    top: 46px;
	}
	h3{
		font-size: 60px;
		font-weight: 600;
	}
	p{
		font-size: 18px;
	}
}


.awards {
	width: 150px;
	height: 247px;
	text-align: center;
	
	.awards-won {
	width: 130px;
	height: 130px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 100%;
	display: block;
	position: relative;
	margin: auto;
	margin-bottom: 50px;
	}
	.icon-awads {
	background: url('../../images/sprite.png') no-repeat -109px -112px;
	width: 40px;
	height: 38px;
	position: absolute;
	left: 45px;
    top: 46px;
	}
	h3{
		font-size: 60px;
		font-weight: 600;
	}
	p{
		font-size: 18px;
	}
}

/*Let’s Discuss*/
.discuss-wrapper {
width:100%;
margin-bottom: 100px;
}
.discuss-header {
	@include headers;
	width: 100%;
	margin-top: 100px;
	span{
	background: url('../../images/sprite.png') no-repeat -129px -20px;
	width: 18px;
	height: 14px;
	margin-top: 10px;
	}
}
.discuss-head {
	margin-bottom: 80px;
	text-align:center;
	font-size: 18px;
	font-weight: 700;
	color: #384d5c;
}
.address {
   color: black;
   h3{
   	font-size: 22px;
   	padding-bottom: 44px;
   }
	address {
		font-size: 13px;
		padding-right: 80px;
		line-height: 23px;
		color: #6a737b;
	}
}
.form-section {
 	input[type="text"]{
 	width: 100%;
 	border: none;
 	border-bottom: 1px solid #cccccc;
 	padding-bottom: 20px;
 	margin-bottom: 20px;
 }
 textarea {
 	width: 100%;
	border: none;
 	border-bottom: 1px solid #cccccc;
 	height: 77px;
 	padding-top: 34px;
 	resize: none;
 	margin-bottom: 37px;
 }
 textarea::placeholder,
 input[type="text"]::placeholder {
	font-size: 13px;
 }
}
@media (max-width: 518px){
	.be
		a{
		float:left;
	}
}
.send-message {
	float:right;

	span {
	background: url('../../images/sprite.png') no-repeat -226px -121px;
	width: 23px;
	height: 16px;
	position: absolute;
	left: -35px;
	top: 4px;

	}
	strong {
		display: block;
		position: relative;
	}
	a {
		text-decoration: none;
		color: #111111;
	}
}
.icon-discuss {
	display: block;
	a {
		
		margin-bottom: 25px;
	}
	.be {
	background: url('../../images/sprite.png') no-repeat -12px -169px;
	width: 26px;
	height: 17px;
	display: block;
	}
	.twitter {
	background: url('../../images/sprite.png') no-repeat -50px -169px;
	width: 26px;
	height: 22px;
	display: block;
	}
	.ball {
	background: url('../../images/sprite.png') no-repeat -86px -167px;
	width: 26px;
	height: 26px;
	display: block;
	}
	.tree {
	background: url('../../images/sprite.png') no-repeat -122px -167px;
	width: 23px;
	height: 26px;
	display: block;
	}
	.google {
	background: url('../../images/sprite.png') no-repeat -157px -169px;
	width: 15px;
	height: 23px;
	display: block;
}
	}

/*map*/

.map {
	border-bottom:5px solid #062033;
	img{
	width: 100%;
	}
}


/*FOOTER*/

.footer-wrapper {
	background: #1ea78d;
	padding-top: 98px;
}
.brandi{
	h1{
font: 28px 'Pacifico', cursive;
	}
	p {
		font-size: 13px;
		line-height: 25px;
	}
}
.subscribe,
.explore
 {
	h2{
		font-size: 14px;
		font-weight: 600;
		color: rgba(255,255,255,0.6);
		margin-bottom: 47px;
	}
	input[type="search"]{
		width: 100%;
		height: 42px;
		border:2px solid #fff;
		background: #1ea78d;
		border-radius: 5px;
		position:relative;
		padding-right: 35px;
		margin-bottom: 22px;
	}
	span {
		background: url('../../images/sprite.png') no-repeat -12px -208px;
		width: 18px;
		height: 13px;
		position:absolute;
		right: 30px;
		top: 78px;
	}
}
.explore {
	h2 {
		margin-bottom: 35px;
		padding-left: 14px;
	}
}
.explore-section {
		display: flex;
		justify-content: space-around;
		align-items: center;
	ul {
		list-style-type: none;
		padding: 0;
	}
	li{
		line-height: 30px;
		font-size: 13px;
	}

}
.created {
	margin-top: 47px;
	strong{
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 55px;
    	display: block;
		}
	span {
		background: url('../../images/sprite.png') no-repeat -129px -20px;
		width: 18px;
		height: 14px;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		}
	b {
		color: #062033;
	}
	p {
		color: #062033;
	}
}